{% extends 'baselogin.html' %}

{% load static %}



{% block page_title %} Login {% endblock page_title %}

{% block content %}

  <section>
    <div class="form-box">
        <div class="form-value">
            <form action="" method="POST">
              {% csrf_token %}
                <h2>Login</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" required>
                    <label for="">Password</label>
                </div>
                <input class="login" type="submit" value="Login">
                <div class="register">
                    <p>Don't have an account <a href="#">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}